*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{
    color : white;
     background-image: linear-gradient(90deg, #0f3d81, #062458, #020c11);
    background-attachment: fixed;
    }
#n1{display: none;}
#n2{display: none;}
#n3{display: none;}

main{
    display:inline-block;
    text-align: center;
}
img{
    width: 270px;
    height: 270px;
    object-fit: contain;
}
.box{
    display: inline-block;
    width: 300px;
    background-color: rgb(5, 47, 82);
    padding: 20px;
    margin-bottom: 10px;
    margin: 10px;
    border-radius:15px ;
    box-shadow: 02px 1px 2px 1px #0d66db;
   
    
    
}
header{
    width: 698px;
    margin: 10px auto;
     color : white;
    background-color:  rgb(5, 47, 82);
    box-shadow: 02px 1px 2px 1px #0d66db;
    border-radius: 12px;
}
footer{
    width: 698px;
    margin: 10px auto;
     color : white;
    background-color:  rgb(5, 47, 82);
    box-shadow: 02px 1px 2px 1px #0d66db;
    border-radius: 12px;
}
footer>h1{
    text-align: center;
}
footer>h1>a{
    text-decoration: none;
    margin-bottom: 10px;
    color: aliceblue;
}
footer>h1:hover{
    background-color: aliceblue;
    color: rgb(5, 47, 82);
    cursor: pointer;
}
header>h1{
    text-align: center;
}
h2{ text-align: center;}

.box:hover{
    box-shadow: 5px 5px 5px 5px #0d66db;
}
header:hover{
     box-shadow: 2px -2px 5px 5px #0d66db;
}
footer:hover{
    box-shadow: 2px -2px 5px 5px #0d66db;
}
.plegable{
    width: 200px;
    background-color: #020c11;
     border-radius: 12px;
     margin: 10px;
}
#n1:target{
    display: contents;
}
#n2:target{
    display: contents;
}
#n3:target{
    display: contents;
}
.plegable>h2>a{
    text-decoration: none;
    color: aliceblue;
}
.plegable:hover{
    box-shadow: 2px -2px 5px 5px #0d66db;
}


@media(max-width: 768px){
    main{
        max-width: 768px;
        margin: auto
    }
     .box{
    width: 370px;
    
    }
    video{
        width: 330px;
    }
     header{
        max-width: 370px;
        margin: 10px auto;
        
    }
     h1{
        text-align: center;
    }
      footer{
        
        width:370px;
    }
    
}

@media(max-width: 480px){
      header{
        max-width: 300px;
        margin: 10px auto;
    }
    main{
        max-width: 480px;
        margin: auto
    }
    .box{
    width: 300px;
    }
    video{
        width: 260px;
    }
    body{
        width: 480px;
    }
    footer{
        
        width: 300px;
    }
    
}