*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{
    color : white;
    background-color: rgb(19, 41, 114);
}
.container{
    max-width: 1400px;
    min-width: 700px;
    background: rgb(79, 42, 165);
    border-radius: 12px;
    margin: 0 auto;
    
}
.box{
    display: inline-block;
    width: 698px;
    background-color: rgb(5, 47, 82);
    padding: 20px;
    margin-bottom: 10px;
    border-radius:15px ;
    
    
    
}
h3>a{
    text-decoration: none;
    color:rgb(124, 156, 148);

}
h3:hover{
    padding: 20px;
}
a:hover{
    color: antiquewhite;
}
@media (max-width: 1400px) {
.box{
    width: 680px;
    
}
}
@media (max-width: 1200px) {
.box{
    width: 590px;
    
}
}
@media (max-width: 1150px) {
.box{
    width: 550px;
    
}
}

@media (max-width: 600px) {
.box{
    width: 290px;
    
}
}
@media (max-width: 1400px) {
  .box {
    width: 680px; 
  }
}

@media (max-width: 1350px) {
  .box {
    width: 650px; 
  }
}

@media (max-width: 1300px) {
  .box {
    width: 630px; 
  }
}

@media (max-width: 1250px) {
  .box {
    width: 605px; 
  }
}

@media (max-width: 1060px) {
  .box {
    width: 500px;
  }
}
@media (max-width: 1064px) {
  .box {
    width: 500px;
  }
}


@media (max-width: 1150px) {
  .box {
    width: 555px; 
  }
}

@media (max-width: 1100px) {
  .box {
    width: 530px; 
  }
}

@media (max-width: 1050px) {
  .box {
    width: 500px; 
  }
}

@media (max-width: 1000px) {
  .box {
    width: 480px; 
  }
}
@media (max-width: 480px) {
  
  .box {
    width: 475px; 
  }
}





