*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{
    color : white;
    background-color: rgb(19, 41, 114);
}
.container{
    max-width: 1400px;
    min-width: 700px;
    background: rgb(79, 42, 165);
    border-radius: 12px;
    margin: 0 auto;
    
}
.box{
    display: inline-block;
    width: 698px;
    background-color: rgb(5, 47, 82);
    padding: 20px;
    margin-bottom: 10px;
    border-radius:15px ;
    
    
    
}
h3>a{
    text-decoration: none;
    color:rgb(124, 156, 148);

}
h3:hover{
    padding: 20px;
}
a:hover{
    color: antiquewhite;
}
@media(max-width: 1400px){
    .container{
        max-width: 1300px;
        width: 1300px;
    }
     .box{
    width: 648px;
    
    }
    
    
    
}
@media(max-width: 700px){
    .container{
        max-width: 600px;
        width: 600px;
    }
     .box{
    width: 300px;
    
    }
    
    
    
}

@media(max-width: 480px){
        .container{
        max-width: 600px;
        width: 600px;
    }
     .box{
    width: 300px;
    
    }
    
    
}




