*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{
    color : white;
    background-color: rgb(2, 95, 102);
    justify-content: center;
    text-align: center;
}
h1{
    font-size: clamp(1rem, 5vh, 3rem);
}
.container{
    margin: 0 auto;
    background-color: rgb(19, 172, 172);
    width: 300px;
    border-radius: 10px;
}
.container>h1{
    text-align: center;
    font-size: 10vh;
}
.container>header>h1{
    text-align: center;
    font-size: 5vh;
}

.box{
    margin: 5px auto;
    display: inline-block;
    width: 300px;
    background-color: rgb(11, 100, 173);
    margin-bottom: 10px;
    border-radius:15px ;
    font-size: 3vh;
    
}
.box_2{
    margin: 5px auto;
    display: inline-block;
    width: 1000px;
    background-color: rgb(26, 58, 83);
    margin-bottom: 5px;
    border-radius:15px ;
    font-size: 3vh;
}
nav>ol{
    list-style: none;
    display: flex;
    padding: 0;
    

    
}
nav>ol>li{
text-align: center;
}
h3>a{
    text-decoration: none;
    color:rgb(124, 156, 148);

}
h3:hover{
    padding: 20px;
}
a:hover{
    color: antiquewhite;
}
nav>ol>li:hover{
     background-color: white;
    color: rgb(2, 4, 88);
    border-radius:10px ;
    cursor:pointer;
    
}
nav li::after {
    /*pone una linea despues de cada elemento de la lista*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 4px;
}

footer{
    width: 698px;
    margin: 10px auto;
     color : white;
    background-color:  rgb(5, 47, 82);
    box-shadow: 02px 1px 2px 1px #0d66db;
    border-radius: 12px;
}
footer>h1{
    text-align: center;
}
footer>h1>a{
    text-decoration: none;
    margin-bottom: 10px;
    color: aliceblue;
}
footer>h1:hover{
    background-color: aliceblue;
    color: rgb(5, 47, 82);
    cursor: pointer;
}

@media(max-width: 88em){
    body{
        text-align: center;
    }
    .container{
        max-width: 82em;
        width: 63rem;
        
    }
 
     .box{
        text-align: center;
        width: 29em;
    
    }
     .box_2{
        text-align: center;
        width: 57rem;
    
    }
    
    nav>ol{
        padding: 0;
    }
    nav>ol>li{
        margin: 0.7rem;
    }
   
    nav li::after {
    /*pone una linea despues de cada elemento de la lista*/
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: o.25rem;
}


    
    
}
@media(max-width: 44em){
    body{
        text-align: center;
    }
    .container{
        max-width: 44em;
        width: 38em;
    }
     .box{
    width: 8em;
    text-align: center;
    }
      .box_2{
    width: 32em;
    text-align: center;
    }
    nav>ol{
        display: inline-block;
    }
      
    footer{
         max-width: 44em;
        width: 38em;
    }
    
}

@media(max-width: 30rem){
     body{
        text-align: center;
    }
        .container{
        max-width: 30rem;
        width: 18rem;
    }
     .box{
    width: 8.125rem;
    }
       .box_2{
    width: 18.75rem;
    }
     nav>ol{
        display: inline-block;
        
    }
   nav li::after {
   
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 4px;
}


footer{
    max-width: 30rem;
        width: 25rem;
}
}