*{/*reseteo la pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
body{/*colores de letra, centrado y fondo*/
    color : white;
    background-color: rgb(2, 95, 102);
    justify-content: center;
    text-align: center;
}
/*le asigna esas medidas a h1*/
h1{
    font-size: clamp(1rem, 5vh, 3rem);
}
.container{/*tamaños de dimencion de la pagina, letras y de masy centrado*/
    margin: 0 auto;
    background-color: rgb(19, 172, 172);
    width: 300px;
    border-radius: 10px;
}
.container>h1{
    text-align: center;
    font-size: 10vh;
}
.container>header>h1{
    text-align: center;
    font-size: 5vh;
}
/*caja con disposicion en bloque, medidas, fondo,
     relleno, espaciado general y un borde redondo */
.box{
    margin: 5px auto;
    display: inline-block;
    width: 300px;
    background-color: rgb(11, 100, 173);
    margin-bottom: 10px;
    border-radius:15px ;
    font-size: 3vh;
    
}/*caja con disposicion en bloque, medidas, fondo,
     relleno, espaciado general y un borde redondo */
.box_2{
    margin: 5px auto;
    display: inline-block;
    width: 1000px;
    background-color: rgb(26, 58, 83);
    margin-bottom: 5px;
    border-radius:15px ;
    font-size: 3vh;
}
/*pie de pagina con medidas, centrado y alineado, 
   color de letras blancas, fondo rgb azul oscuro */
/*centro todo elemento hero 1(titulo) que este dentro 
    del pie de pagina*/
/*quito subrayado del elemento (a), margen general, lera color
    "blanca"*/
/*cuando el cursor o el dedo toque o sobre pase el pie de pagina 
se hace blanco*/
/*cuando el cursor pase por ensima 
o el dedo toque el boton la letra cambia de color*/
/*cuando el cursor o el dedo toque o sobre pase el pie de pagina 
se hace blanco y se activa una difuminacion en los bordes*/

footer{
    width: 698px;
    margin: 10px auto;
     color : white;
    background-color:  rgb(5, 47, 82);
    box-shadow: 02px 1px 2px 1px #0d66db;
    border-radius: 12px;
}
footer>h1{
    text-align: center;
}
footer>h1>a{
    text-decoration: none;
    margin-bottom: 10px;
    color: aliceblue;
}
footer>h1:hover{
    background-color: aliceblue;
    color: rgb(5, 47, 82);
    cursor: pointer;
}
/*adaptacion a pantallas medianas y grandes, cambios den
las medianas del contenedor y cajas*/
@media(max-width: 88em){
    body{
        text-align: center;
    }
    .container{
        max-width: 82em;
        width: 63rem;
        
    }
 
     .box{
        text-align: center;
        width: 29em;
    
    }
     .box_2{
        text-align: center;
        width: 57rem;
    
    }
   


    
    
}/*adaptacion a pantalla mobiles, cambios den
las medianas del contenedor y cajas*/
@media(max-width: 44em){
    body{
        text-align: center;
    }
    .container{
        max-width: 44em;
        width: 38em;
    }
     .box{
    width: 8em;
    text-align: center;
    }
      .box_2{
    width: 32em;
    text-align: center;
    }
   
    footer{
         max-width: 44em;
        width: 38em;
    }
    
}
/*adaptacion a pantalla mobiles, cambios den
las medianas del contenedor y cajas*/
@media(max-width: 30rem){
     body{
        text-align: center;
    }
        .container{
        max-width: 30rem;
        width: 18rem;
    }
     .box{
    width: 8.125rem;
    }
       .box_2{
    width: 18.75rem;
    }


footer{
    max-width: 30rem;
        width: 25rem;
}
}